# Generic exclusions
*.pid
*.xml
*.csr
*.crt
*.key

# Logs
*.log

# Databases
*.db
*.db-shm
*.db-wal
*.db.corrupt.*

# Swap files
*.swp

# Python cache
__pycache__
*.pyc

# Ignore folders
.storage
.cloud
.vscode
custom_components/
www/
image/
secrets/

# Other
ip_bans.yaml
secrets.yaml
known_devices.yaml
core
